# NodeJS
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz

pids
logs
results

npm-debug.log
node_modules

# Auto detect text files and perform LF normalization
* text=auto

# ImWatchingYou
config/Config.json
pictures/